.heading {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
.heading_span {
  color: #683d83;
}

.heading_carousel {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 28px;
  text-align: center;
}

/* I don't particularly like this, I think a consitent 40px across the board could look good, but just in case,
I thought I'd start thet trend of modifying margins where need be  */
.heading_section_instagram {
  margin-bottom: 30px;
}

.heading_section_primlancers {
  padding: 0 10px;
}

@media only screen and (min-width: 500px) {
  .heading {
    font-size: 50px;
    line-height: 58.6px;
  }
  .heading_section_instagram {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .heading_section_primlancers {
    margin-bottom: 60px;
  }
}
