.primlancers {
    padding: 80px 10px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primlancers__title {
    margin: 0;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #683d83;
}

.title_black {
    color: #000000;
}

.primlancers__text {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #000000;
    margin: 40px 0 0;
}

.primlancers__video {
    max-width: 355px;
    height: auto;
    margin-top: 40px;
    width: 100%;
    border-radius: 20px;
    min-height: 209px;
}

.primlancers__button {
    max-width: 335px;
    width: 100%;
    height: auto;
    padding: 16px 0;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #683d83;
    border-radius: 10px;
    margin-top: 30px;
    /* margin: 0; */
    transition: color 0.15s ease, background-color 0.15s ease;
    border: none;
    cursor: pointer;
}
