.primlancers {
  padding: 80px 10px 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.primlancers__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/primlancersVideoPreview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  transition: opacity 0.15s ease;
}

.primlancers__overlay_playing {
  opacity: 0;
}

.primlancers__overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.primlancers__video-container {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
}

.primlancers__video-button {
  position: relative;
  z-index: 1;
}

.primlancers__video {
  width: 100%;
  height: 100%;
}
.primlancers__book-link {
  width: 100%;
}
.primlancers__book-button {
  border: none;
  background-color: #683d83;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.primlancers__text {
  margin: 0;
  color: #fff;
  margin-top: 32px;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 44px;
  display: none;
  z-index: 1;
  position: relative;
}

.primlancers__lower-text {
  font-size: 34px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .primlancers {
    padding: 100px 76px 80px;
  }
  .primlancers__text {
    display: block;
    transform: translateY(40px);
  }

  .primlancers__video-button {
    transform: translateY(40px);
  }

  .primlancers__video-container {
    margin-bottom: 60px;
  }

  .primlancers__lower-text {
    display: none;
  }

  .primlancers__book-link {
    max-width: 232px;
  }
}
/* .primlancers {
  padding: 80px 10px 60px;
  text-align: center;
}

.primlancers__title {
  letter-spacing: -0.01em;
}

.primlancers__text {
  text-align: center;
  letter-spacing: -0.01em;
  margin: 40px 0 30px;
  z-index: 1;
}
.primlancers__video-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primlancers__video {
  width: 100%;
  border-radius: 20px;
  height: 55.73vw;
  margin: 0;
}
.overlay {
  width: 100%;
  height: 55.73vw;
  border-radius: 20px;
  background-image: url(../../images/primlancersVideoPreview.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  position: absolute;
  background-size: 101.66vw 63.73vw;
  margin: 0;
}

.overlay:before {
  content: '';
  height: 55.73vw;
  width: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.primlancers__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.primlancers__video-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 74px;
  height: 74px;
  margin: -40px 0 0 -40px;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  -o-transition: border-color 300ms;
  transition: border-color 300ms;
}
.primlancers__video-button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -20px 0 0 -10px;
  border-left: 30px solid #fff;
  border-top: 22.5px solid transparent;
  border-bottom: 22.5px solid transparent;
  -webkit-transition: border-color 300ms;
  -o-transition: border-color 300ms;
  transition: border-color 300ms;
}

.video_active {
  display: none;
  opacity: 0;
}

.primlancers__video-button:hover:before,
.primlancers__video-button:focus:before {
  border-color: #683d83;
  cursor: pointer;
}

.primlancers__video-button:hover:after,
.primlancers__video-button:focus:after {
  border-left-color: #683d83;
  cursor: pointer;
}

.primlancers__book-button {
  max-width: 335px;
  width: 100%;
  height: auto;
  padding: 16px 0;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #683d83;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

@media (min-width: 480px) {
}

@media (min-width: 630px) {
}

@media (min-width: 768px) {
  .primlancers {
    padding: 100px 40px 80px;
  }

  .primlancers__video {
    max-width: 860px;
    max-height: 449px;
  }

  .overlay {
    max-width: 860px;
    height: 100%;
    background-size: auto;
    max-height: 451px;
  }
  .overlay:before {
    max-width: 860px;
    max-height: 449px;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .primlancers {
    padding: 100px 88px 80px;
  }

  .primlancers__title {
    font-size: 50px;
    line-height: 59px;
  }

  .primlancers__text {
    font-size: 38px;
    line-height: 45px;
    color: #ffffff;
    position: relative;
    top: -188px;
  }

  .primlancers__book-button {
    margin-top: -60px;
  }
}

@media (min-width: 1440px) {
} */ ;
