.app-for-u {
    background-color: #683d83;
    padding: 60px 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.app-for-u__text-container {
    width: 100%;
}

.app-for-u__title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.app-for-u__paragraph {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.app-for-u__paragraph:not(:last-child) {
    margin-bottom: 30px;
}

.app-for-u__image {
    width: 100%;
    max-width: 242.57px;
    margin-bottom: 60.72px;
}

@media (min-width: 480px) {
}

@media (min-width: 630px) {
}

@media (min-width: 768px) {
    .app-for-u {
        padding: 100px 43px;
    }
    .app-for-u__title {
        margin-bottom: 32px;
    }
    .app-for-u__paragraph:not(:last-child) {
        margin-bottom: 32px;
    }
}

@media (min-width: 1024px) {
    .app-for-u {
        padding: 80px 0 0 42px;
        justify-content: flex-start;
    }
    .app-for-u__text-container {
        margin: 0 90px 0 0;
        max-width: 605px;
    }
}

@media (min-width: 1440px) {
    .app-for-u {
        padding: 80px 0;
        justify-content: flex-start;
    }
    .app-for-u__text-container {
        max-width: 630px;
        margin: 20px 210px 0 60px;
    }
    .app-for-u__image {
        min-width: 300px;
        margin-bottom: 0;
    }
}
