.hero {
    background-image: url('../../images/heading_mobile.png');
    background-repeat: no-repeat;
    height: 100vh;
}
.hero__title {
/* Removing default h1 behaviour */
margin: 0em;

padding: 105px 20px 0px 20px;
font-family: Roboto Condensed;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 40px;
text-align: center;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #FFFFFF;
}
