.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 20px 80px;
  /* workaround for not so great breakpoints */
  max-width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.instagram__image {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.instagram__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.instagram__subtitle {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

.instagram__button-wrapper {
  width: 100%;
  max-width: 400px;
  -ms-flex-item-align: center;
      align-self: center;
}

/* no hover or active styles on button */
.instagram__button {
  width: 100%;
  min-height: 60px;
  color: #fff;
  background: #683d83;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #683d83;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease;
  -o-transition: color 0.15s ease, background-color 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease;
}

@media only screen and (min-width: 768px) {
  .instagram {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 40px 100px;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    /* overriding workaround for not so great breakpoints */
    max-width: none;
    margin: 0;
  }

  .instagram__image {
    margin: 0;
  }

  .instagram__subtitle {
    font-size: 20px;
  }

  .instagram__button-wrapper {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  .instagram__subtitle {
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1440px) {
  .instagram {
    padding: 80px 60px 100px;
    gap: 60px;
    max-width: 1880px;
    margin: auto;
  }
  .instagram__button {
    background: #fff;
    color: #683d83;
  }

  .instagram__button:hover {
    color: #fff;
    background: #683d83;
  }
}
