

.carousel *  {
    border: 1px solid red;
    
}

/* What do about scrollbar design?
.carousel__cards::-webkit-scrollbar{
    background:transparent;
    height: 16px;
    width: 10px;
  }
.carousel__cards::-webkit-scrollbar:horizontal:decrement{
    border-width: 7px 14px 7px 0;

  }
.carousel__cards::-webkit-scrollbar:horizontal:increment{
    border-width: 7px 14px 7px 0;
 
  }
*/

.carousel {
 margin: auto;
    padding: 60px 10px 80px;
}

.carousel__cards {
overflow-x: scroll;
overflow-y: hidden;
display: flex;
list-style: none;
margin: 0;
padding: 0;

margin-bottom: 16px
}

.carousel__card {
min-width: 250px;
min-height: 350px;
border-radius: 20px;
margin-right: 16px;
background: #F2F2F2;
margin-bottom: 60px;
}
.carousel__card_type_review{
    min-width: 355px;
    min-height: 288px;
}
.carousel__card-details{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.carousel__card-heading{
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;

}
.carousel__rating{
    padding: 20px;
    color: #683D83;
    font-size: 20px;
}
.carousel__text{
    padding: 0 16px 24px;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    
}

/*
Potential custom scrollbar?
.carousel__scroll-container {
    display: flex;
    justify-content: space-between;
}

.carousel__scroll-bar {
    width: 100%;
    min-height: 1em;
    border: 1px solid green;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.carousel__scroll-position {
    height: 5px;
    width: 50%;
    background: gray;
    border: none;
    border-radius: 50px;

}

.carousel__arrow {
    width: 20px;
    height: 20px;
}*/