.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #000;
  color: #fff;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  padding: 30px 10px 0;
}

.footer__column {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.footer__column-heading {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.footer__column-link-container {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.footer__link-wrapper {
  margin-bottom: 10px;
}
.footer__link-wrapper:last-child {
  margin-bottom: 0px;
}

.footer__column-link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

.footer__column-link:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px;
  }

  .footer__column {
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }

  .footer__column_content_nav {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }

  .footer__column_content_contact {
    -ms-flex-preferred-size: 8%;
        flex-basis: 8%;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    padding: 40px 60px;
  }

  .footer__column_content_nav {
    -ms-flex-preferred-size: 56%;
        flex-basis: 56%;
  }
}
