.providers {
  padding: 60px 10px 0;
  margin: auto;
  max-width: 1880px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.providers__heading {
  /* margin: 40px 10px; */
  padding: 0 10px;
}
.provider__card {
  width: 100%;
  margin-bottom: 60px;
}
.provider__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 326px;
  position: relative;
  border-radius: 20px;
}
.provider__image_type_freelance {
  background-image: url(../../images/freelancers.png);
}
.provider__image_type_business {
  background-image: url(../../images/salonSpa.png);
}
.provider__card-content {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
}
.provider__card-heading {
  color: #fff;
  text-align: center;
  font-size: 34px;
  padding: 5px;
  margin: 30px 0;
  text-transform: uppercase;
}
.provider__card-button {
  color: #683d83;
  font-size: 24px;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 16px 50px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease;
  -o-transition: color 0.15s ease, background-color 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease;
  border: none;
  cursor: pointer;
}
.provider__card-button:hover {
  color: #fff;
  background-color: #683d83;
}
.provider__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  display: block;
  margin: 30px 20px;
}
@media screen and (min-width: 680px) {
  .providers {
    padding: 60px 40px 0;
  }

  .provider__card {
    margin-bottom: 0;
  }
  .provider__card-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 46px;
  }
  .provider__card-heading {
    font-size: 38px;
    margin: 40px 0;
  }
  .provider__text {
    margin: 40px 0;
  }
}
@media screen and (min-width: 1100px) {
  .providers {
    padding: 100px 60px 0;
  }
  .provider__card-area {
    gap: 60px;
  }
  .provider__image {
    height: 460px;
  }
}
